*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #df8920;
    display: grid;
    place-items: center;
}
.load{
    display: flex;
    justify-content: center;
    margin: 200px auto;

}
.load div{
    width: 80px;
    height: 30px;
    background-color: rgb(6, 29, 100);
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up_down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-duration: alternate;

}
.load .tow{
    animation-delay: 0.3s;
}
.load .three{
    animation-delay: 0.6s;

}
@keyframes up_down {
    to{
        opacity: 0.2;
        transform: translateY(-20nx);
    }
}
.titlle{
    color: black;
    text-decoration: none;
    text-shadow: #9b5c0f;
    height: 30px;
    text-size-adjust: 50px;
    text-decoration-line: initial;

}